<h3>Enter The Details of New Blog:</h3>
<form action="/admin" method="POST">
    <label for="username"><b>Title</b></label>
    <input type="text" placeholder="Enter Title" name="title">

    <label for="Content"><b>Content</b></label>
    <!-- <input type="text"  placeholder="Enter The Content of Blog" name="content"> -->
    <textarea  name="content" rows="5" cols="50" placeholder="Enter the Content"></textarea>
    <input type="submit" value="Submit" class="btn">
</form>
