<h2 style="text-align: center;">Contact Me</h2>
<table>
    <tr>
        <td style="width: 80%; padding-left: 30%;">
            <div>
                <a href="https://www.linkedin.com/in/anany-dhamija-59306b222/">
                <img src="img/Linkedin.png" class="contact" alt="LinkedIn logo">
                </a>
            </div>
        </td>
        <td>
            <div>
                <a href="https://www.instagram.com/ananymous507/">
                <img src="img/instagram.png" class="contact" alt="Instagram logo">
                </a>
            </div>
        </td>
    </tr>
    </table>
    <br>
    <br>
    <h2 style="text-align: center;">Check me Out on CP Platforms</h2>
    <table>
    
    <tr>
        <td style="width: 80%; padding-left: 30%;">
            <div>
                <a href="https://codeforces.com/profile/ananydhamija507">
                <img src="img/cf.png" class="contact" alt="Codeforces logo">
                </a>
            </div>
        </td>
        <td>
            <div>
                <a href="https://www.codechef.com/users/adj_alt">
                    <img src="img/cc.png" class="contact" alt="CodeChef logo">
                </a>
            </div>
        </td>
    </tr>
</table>