<h1><%= data.title %></h1>
<article class="article">
    <%= data.body %>
</article>
<h3 style="text-align: center;">This Blog has been deleted</h3>
<h3 style="text-align: center;"><a href="/">Return to Home</a></h3>