<table >
    <tr>
            <td style="width: 850px; ">
            <h1 ><%= data.title %></h1>
        </td>
        <td style="width: 150px; ">
            <button  class="button-23"><a href="/postdel/<%= data._id %>">Delete this post</a></button>
        </td>
    </tr>
</table>
<article class="article">
    <%= data.body %>
</article> 
